
:root{
    --hover-gradient: linear-gradient(45deg, hsl(192, 100%, 50%), #0e1538, hsl(300, 100%, 50%));
    --btn-background: hsla(231, 83%, 9%, 0.45);
    --transition-hover: .2s ease-in-out;
}

.focus, .focus_blur,
.hover,
.hover-2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: var(--transition-hover);
}

.cover:hover,
nav a:hover,
.menu_btn:hover,
.btn_box button:hover,
.media a:hover{
    background: var(--btn-background);
    border: 2px solid var(--main-color);
    transition: var(--transition-hover);
}

.focus, .focus_blur,
.cover:hover .hover,
nav a:hover .hover,
.menu_btn:hover .hover,
.media a:hover .hover{
    background: var(--hover-gradient);
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    inset: -3px;
    border-radius: 0.35rem;
}

.btn_box button:hover .hover-2{
    background: var(--hover-gradient);
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    inset: -4px;
    border-radius: 0.45rem;
}

.cover:hover .blur,
nav a:hover .blur,
.menu_btn:hover .blur,
.btn_box button:hover .blur,
.media a:hover .blur{
    filter: blur(10px);
}

.focused{
    background: var(--btn-background);
    border: 2px solid var(--main-color);
}


