
/* Tablet View */

@media (orientation:portrait), (width <= 768px){

    .home > .container{
        padding-top: 2.8rem;
    }

    nav{
        display: none;
    }

    .menu_btn{
        display: flex;
    }

    .content{
    flex-direction: column-reverse;
    justify-content: flex-end;
   }

   .content_text{
    margin-top: -4rem;
}

   .content_img img{
    height: clamp(250px, 60vw, 50svh);
    min-width: auto;
   }
   
   .btn_box{
       padding: .5rem 0;
       margin-top: 2rem;
    }

}

/* Mobile View */

@media (width <= 426px){
    
    header .container{
        padding: 0.2rem .6rem;
        
    }
    
    .container{
        padding: 0 .7rem;
    }
    
    .content_text{
        flex-grow: 1;
        margin-top: -1rem;
    }
    
    .btn_box{
        margin-top: auto;
    }

}