@font-face {
    font-family: 'Acme';
    src:
    local('Acme'),
    local('acme'),
    url('../fonts/Acme-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mothproof_Script';
    src:
    local('Mothproof_Script'),
    local('mothproof_script'),
    url('../fonts/Mothproof_Script-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Acme", sans-serif;
    color: white;
    letter-spacing: 1px;
    line-height: 1.4;
}

:root{
    --main-color: hsl(230, 82%, 9%);
    --secondary-color: hsl(225, 100%, 50%);
    --gradient: linear-gradient(135deg, hsl(0, 0%, 20%), hsl(240, 60%, 11%));
    --default-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
    --transition: .1s ease-in-out;
    --img-size: calc(((100vw + 100vh) / 2) * .4);
    --text-gradient: linear-gradient(hsl(0, 0%, 100%), hsl(245, 100%, 55%));
}

body{
    background: var(--main-color);
}

a{
    text-decoration: none;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1rem;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--gradient);
    box-shadow: var(--default-box-shadow);
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 1rem;
    position: relative;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Mothproof_Script", "Acme", sans-serif;
    font-size: 1.6rem;
    background: var(--text-gradient);
    background-clip: text;
    color: transparent;
    line-height: normal;
}

nav{
    padding: .3rem;
}

nav a{
    padding: .05rem 1rem;
    border-radius: .3rem;
    position: relative;
    border: 2px solid transparent;
}

.menu_btn{
    position: relative;
    cursor: pointer;
    border: 2px solid transparent;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 3px;
    border-radius: .3rem;
}

.bar-1, .bar-2, .bar-3{
    width: 23px;
    height: 3px;
    background-color: white;
    transition: 0.2s ease-in-out;
}

.clicked .bar-1{
    transform: translateY(8px) rotate(-45deg);
    border-radius: 1rem;
}

.clicked .bar-2{
    opacity: 0;
    width: 0;
}

.clicked .bar-3{
    transform: translateY(-8px) rotate(45deg);
    border-radius: 1rem;
}

.home{
    min-height: 100svh;
    background: var(--gradient);
}

.home > .container{
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    padding-top: 3rem;
}

.content{
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.content_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content_img{
    display: flex;
    justify-content: end;
    align-items: center;
}

.content_img img{
    max-width: 100%;
    min-width: 300px;
}

.content_text h2{
    color: var(--secondary-color);
}

.content_text p{
    text-align: justify;
}

.btn_box{
    margin-top: 5rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    z-index: 3;
}

.btn_box button{
    position: relative;
    background: var(--gradient);
    font-size: 1.2rem;
    padding: .3rem 1rem;
    border-radius: .3rem;
    border: 2px solid var(--main-color);
    box-shadow: var(--default-box-shadow);
    transition: var(--transition);
}

.media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: auto;
    /* margin-bottom: 1rem; */
    padding: 1rem 0;
    z-index: 3;
}

.media a{
    position: relative;
    border: 2px solid var(--main-color);
    font-size: 1.2rem;
    background: var(--gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    border-radius: .3rem;
    box-shadow: var(--default-box-shadow);
}